<%= content_tag(:div, class:"ch-col--md-12 ch-col--lg-3 ch-col--lg-pull-9", data: { component:"ac_vehicle_search_filter", onchange_reload: '["ac_vehicle_search_results", "ac_vehicle_search_filter", "ac_vehicle_search_banner"]' }.merge(@ac_vehicle_search.state)) do %>
  <div class="ac-filters">
    <div class="ac-filters__mask">
    </div>
    <div class="ac-filters__overlay">
      <div class="ac-filters__scroller">
        <div class="ch-clearfix ac-filters__header">
          <h2>Refine your results
          </h2>
          <a rel="nofollow" id="reset-button" class="ch-btn ch-btn--sm ch-btn--link ac-filters__reset gtm-track" data-category="Search" data-action="Reset filters" data-label="Reset(serps)" href="/reset_search?referrer=serps">Reset
          </a>
        </div>
        <div class="ac-filters__fields">
          <button id="search-button" type="submit" class="ch-btn ch-btn--cta ch-btn--sm ch-btn--block ac-searchbutton--static" style="display: block;">Search Cars
          </button>
          <div class="ch-form__group--sm">
            <label id="searchTypeLabel" for="search-type" class="ch-form__control-label">Car type
            </label>
            <div>
              <%= select_tag :search_type, options_for_select(@ac_vehicle_search.search_types, @ac_vehicle_search.state[:search_type]), class: "ch-form__control"  %>
            </div>
          </div>
          <div class="ch-form__group--sm">
            <label for="make" class="ch-form__control-label">Make
            </label>
            <div>
              <%= select_tag :make, options_for_select(@ac_vehicle_search.makes, @ac_vehicle_search.state[:make]), class: "ch-form__control" %>
            </div>
          </div>
          <div class="ch-form__group--sm">
            <label for="model" class="ch-form__control-label">Model
            </label>
            <div>
              <%= select_tag :model, options_for_select(@ac_vehicle_search.models, @ac_vehicle_search.state[:model]), class: "ch-form__control" %>
            </div>
          </div>
          <div class="ch-form__group--sm">
            <div class="ch-checkbox">
              <label for="photos_only">
                <input type="hidden" name="photos_only" value="false">
                <input type="checkbox" id="photos_only" name="photos_only" class="ch-checkbox__input" value="true">
                <span class="ch-checkbox__switch">
                </span>
                Hide cars without images
                
              </label>
            </div>
          </div>
          <div class="ch-form__group--sm">
            <div class="ch-checkbox">
              <label for="unreserved_only">
                <input type="hidden" name="unreserved_only" value="false">
                <input type="checkbox" id="unreserved_only" name="unreserved_only" class="ch-checkbox__input" value="true">
                <span class="ch-checkbox__switch">
                </span>
                Hide reserved cars
              </label>
            </div>
          </div>
          <fieldset>
            <legend class="ac-filters__heading">Budget
            </legend>
            <div class="ac-budgetchooser">
              <div class="ch-row ac-row--compact">
                <div class="ch-col--xs-12 ac-col--compact">
                  <div class="ch-clearfix ac-paymenttoggle">
                    <div class="ch-radio ch-radio--collapsed ac-paymenttoggle__radio">
                      <input type="radio" class="ch-radio__input" name="payment_type" id="payment-type-cash" value="cash" checked="">
                      <label for="payment-type-cash">Cash price
                      </label>
                      <span class="ch-radio__switch">
                      </span>
                    </div>
                    <div class="ch-radio ch-radio--collapsed ac-paymenttoggle__radio">
                      <input type="radio" class="ch-radio__input" name="payment_type" id="payment-type-monthly" value="monthly">
                      <label for="payment-type-monthly">Pay monthly
                      </label>
                      <span class="ch-radio__switch">
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ch-row ac-row--compact">
                <div class="ch-form__group--sm ch-col--xs-6 ch-col--lg-12 ac-col--compact ch-col--md-6">
                  <div class="ac-budgetchooser__minprice">
                    <div>
                      <label for="min-price">Minimum
                      </label>
                      <input type="text" id="min-price" name="min_price" class="ch-form__control" value="">
                    </div>
                  </div>
                </div>
                <div class="ch-form__group--sm ch-col--xs-6 ch-col--lg-12 ac-col--compact ch-col--md-6">
                  <div class="ac-budgetchooser__maxprice">
                    <div>
                      <label for="max-price">Maximum
                      </label>
                      <input type="text" id="max-price" name="max_price" class="ch-form__control" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend class="ac-filters__heading">Location
            </legend>
            <div class="ch-form__group--sm">
              <label for="vehicle-location" class="ch-form__control-label">Find cars near
              </label>
              <div class="">
                <input type="text" id="vehicle-location" name="location" class="ch-form__control" placeholder="Postcode, city, etc" value="">
                <input type="hidden" name="location_lat">
                <input type="hidden" name="location_lng">
              </div>
            </div>
            <div class="ch-form__group--sm">
              <label for="distance" class="ch-form__control-label">Distance
              </label>
              <div>
                <select id="distance" name="distance" class="ch-form__control">
                  <option selected="" value="">Any
                  </option>
                  <option value="10">10 miles
                  </option>
                  <option value="20">20 miles
                  </option>
                  <option value="50">50 miles
                  </option>
                  <option value="100">100 miles
                  </option>
                  <option value="200">200 miles
                  </option>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend class="ac-filters__heading">Condition
            </legend>
            <div class="ch-form__group--sm">
              <label for="mileage" class="ch-form__control-label">Mileage (maximum)
              </label>
              <div>
                <select id="mileage" name="mileage" class="ch-form__control">
                  <option selected="" value="">Any
                  </option>
                  <option value="500">500 miles
                  </option>
                  <option value="1000">1000 miles
                  </option>
                  <option value="5000">5000 miles
                  </option>
                  <option value="10000">10,000 miles
                  </option>
                  <option value="20000">20,000 miles
                  </option>
                  <option value="30000">30,000 miles
                  </option>
                  <option value="40000">40,000 miles
                  </option>
                  <option value="50000">50,000 miles
                  </option>
                  <option value="60000">60,000 miles
                  </option>
                  <option value="70000">70,000 miles
                  </option>
                  <option value="80000">80,000 miles
                  </option>
                  <option value="over80000">Over 80,000 miles
                  </option>
                </select>
              </div>
            </div>
            <div class="ch-form__group--sm">
              <label for="age" class="ch-form__control-label">Age (maximum)
              </label>
              <div>
                <select id="age" name="age" class="ch-form__control">
                  <option selected="" value="">Any
                  </option>
                  <option value="1">1 year
                  </option>
                  <option value="2">2 years
                  </option>
                  <option value="3">3 years
                  </option>
                  <option value="4">4 years
                  </option>
                  <option value="5">5 years
                  </option>
                  <option value="6">6 years
                  </option>
                  <option value="7">7 years
                  </option>
                  <option value="over7">Over 7 years
                  </option>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend class="ac-filters__heading">Specification
            </legend>
            <div class="ch-form__group--sm">
              <label for="fuel-type" class="ch-form__control-label">Fuel type
              </label>
              <div>
                <%= select_tag :fuel_type, options_for_select([["Any", ""], ["Petrol", "Petrol"], ["Diesel", "Diesel"], ["Hybrid", "Hybrid"], ["Electric", "Electric"]], @ac_vehicle_search.state[:fuel_type]), class: "ch-form__control" %>
              </div>
            </div>
            <div class="ch-form__group--sm">
              <label for="transmission" class="ch-form__control-label">Gearbox
              </label>
              <div>
                <%= select_tag :transmission, options_for_select([["Any", ""], ["Manual", "Manual"], ["Auto", "Auto"], ["Semi-Auto", "Semi-Auto"]], @ac_vehicle_search.state[:transmission]), class: "ch-form__control" %>
              </div>
            </div>
            <div class="ch-form__group--sm">
              <label for="body-type" class="ch-form__control-label">Body type
              </label>
              <div class="ac-multigroup ac-multigroup__body_type ac-multigroup--collapsed">
                <input type="hidden" name="body_type[]" value="">
                <div class="ac-multigroup__checkbox-wrapper">
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--Hatchback" class="ac-multigroup__body_type--hatchback">
                      <input type="checkbox" id="body_type--Hatchback" name="body_type[]" class="ch-checkbox__input" value="Hatchback">
                      <span class="ch-checkbox__switch">
                      </span>
                      Hatchback
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--Estate" class="ac-multigroup__body_type--estate">
                      <input type="checkbox" id="body_type--Estate" name="body_type[]" class="ch-checkbox__input" value="Estate">
                      <span class="ch-checkbox__switch">
                      </span>
                      Estate
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--Saloon" class="ac-multigroup__body_type--saloon">
                      <input type="checkbox" id="body_type--Saloon" name="body_type[]" class="ch-checkbox__input" value="Saloon">
                      <span class="ch-checkbox__switch">
                      </span>
                      Saloon
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--SUV" class="ac-multigroup__body_type--suv">
                      <input type="checkbox" id="body_type--SUV" name="body_type[]" class="ch-checkbox__input" value="SUV">
                      <span class="ch-checkbox__switch">
                      </span>
                      SUV
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--People carrier" class="ac-multigroup__body_type--people carrier">
                      <input type="checkbox" id="body_type--People carrier" name="body_type[]" class="ch-checkbox__input" value="People carrier">
                      <span class="ch-checkbox__switch">
                      </span>
                      People carrier
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--Convertible" class="ac-multigroup__body_type--convertible">
                      <input type="checkbox" id="body_type--Convertible" name="body_type[]" class="ch-checkbox__input" value="Convertible">
                      <span class="ch-checkbox__switch">
                      </span>
                      Convertible
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--Coupe" class="ac-multigroup__body_type--coupe">
                      <input type="checkbox" id="body_type--Coupe" name="body_type[]" class="ch-checkbox__input" value="Coupe">
                      <span class="ch-checkbox__switch">
                      </span>
                      Coupe
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--Van" class="ac-multigroup__body_type--van">
                      <input type="checkbox" id="body_type--Van" name="body_type[]" class="ch-checkbox__input" value="Van">
                      <span class="ch-checkbox__switch">
                      </span>
                      Van
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--Minibus" class="ac-multigroup__body_type--minibus">
                      <input type="checkbox" id="body_type--Minibus" name="body_type[]" class="ch-checkbox__input" value="Minibus">
                      <span class="ch-checkbox__switch">
                      </span>
                      Minibus
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--Pick-up" class="ac-multigroup__body_type--pick-up">
                      <input type="checkbox" id="body_type--Pick-up" name="body_type[]" class="ch-checkbox__input" value="Pick-up">
                      <span class="ch-checkbox__switch">
                      </span>
                      Pick-up
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--City car" class="ac-multigroup__body_type--city car">
                      <input type="checkbox" id="body_type--City car" name="body_type[]" class="ch-checkbox__input" value="City car">
                      <span class="ch-checkbox__switch">
                      </span>
                      City car
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="body_type--Motorbike" class="ac-multigroup__body_type--motorbike">
                      <input type="checkbox" id="body_type--Motorbike" name="body_type[]" class="ch-checkbox__input" value="Motorbike">
                      <span class="ch-checkbox__switch">
                      </span>
                      Motorbike
                      
                    </label>
                  </div>
                </div>
                <button type="button" class="ch-btn ch-btn--block ch-btn--sm ch-btn--link js-off--hide ac-multigroup__show-more">Show more
                </button>
              </div>
            </div>
            <div class="ch-form__group--sm">
              <label for="doors" class="ch-form__control-label">Doors
              </label>
              <div class="ac-multigroup ac-multigroup__doors ac-multigroup--collapsed">
                <input type="hidden" name="doors[]" value="">
                <div class="ac-multigroup__checkbox-wrapper">
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="doors--2" class="ac-multigroup__doors--2">
                      <input type="checkbox" id="doors--2" name="doors[]" class="ch-checkbox__input" value="2">
                      <span class="ch-checkbox__switch">
                      </span>
                      2 doors
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="doors--3" class="ac-multigroup__doors--3">
                      <input type="checkbox" id="doors--3" name="doors[]" class="ch-checkbox__input" value="3">
                      <span class="ch-checkbox__switch">
                      </span>
                      3 doors
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="doors--4" class="ac-multigroup__doors--4">
                      <input type="checkbox" id="doors--4" name="doors[]" class="ch-checkbox__input" value="4">
                      <span class="ch-checkbox__switch">
                      </span>
                      4 doors
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="doors--5" class="ac-multigroup__doors--5">
                      <input type="checkbox" id="doors--5" name="doors[]" class="ch-checkbox__input" value="5">
                      <span class="ch-checkbox__switch">
                      </span>
                      5 doors
                      
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="ch-form__group--sm">
              <label for="seats" class="ch-form__control-label">Seats
              </label>
              <div class="ac-multigroup ac-multigroup__seats ac-multigroup--collapsed">
                <input type="hidden" name="seats[]" value="">
                <div class="ac-multigroup__checkbox-wrapper">
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="seats--2" class="ac-multigroup__seats--2">
                      <input type="checkbox" id="seats--2" name="seats[]" class="ch-checkbox__input" value="2">
                      <span class="ch-checkbox__switch">
                      </span>
                      2 seats
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="seats--4" class="ac-multigroup__seats--4">
                      <input type="checkbox" id="seats--4" name="seats[]" class="ch-checkbox__input" value="4">
                      <span class="ch-checkbox__switch">
                      </span>
                      4 seats
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="seats--5" class="ac-multigroup__seats--5">
                      <input type="checkbox" id="seats--5" name="seats[]" class="ch-checkbox__input" value="5">
                      <span class="ch-checkbox__switch">
                      </span>
                      5 seats
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="seats--7" class="ac-multigroup__seats--7">
                      <input type="checkbox" id="seats--7" name="seats[]" class="ch-checkbox__input" value="7">
                      <span class="ch-checkbox__switch">
                      </span>
                      7 seats
                      
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="ch-row">
              <div class="ch-col--xs-12 ch-col--md-12">
                <div class="ch-form__group--sm">
                  <label for="min-engine-size" class="ch-form__control-label">Engine size (minimum)
                  </label>
                  <div>
                    <select id="min-engine-size" name="min_engine_size" class="ch-form__control">
                      <option selected="" value="">No min
                      </option>
                      <option value="945">1.0 litre
                      </option>
                      <option value="1145">1.2 litres
                      </option>
                      <option value="1345">1.4 litres
                      </option>
                      <option value="1545">1.6 litres
                      </option>
                      <option value="1745">1.8 litres
                      </option>
                      <option value="1945">2.0 litres
                      </option>
                      <option value="2145">2.2 litres
                      </option>
                      <option value="2345">2.4 litres
                      </option>
                      <option value="2545">2.6 litres
                      </option>
                      <option value="2745">2.8 litres
                      </option>
                      <option value="2945">3.0 litres
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="ch-col--xs-12 ch-col--md-12">
                <div class="ch-form__group--sm">
                  <label for="max-engine-size" class="ch-form__control-label">Engine size (maximum)
                  </label>
                  <div>
                    <select id="max-engine-size" name="max_engine_size" class="ch-form__control">
                      <option selected="" value="">No max
                      </option>
                      <option value="1044">1.0 litre
                      </option>
                      <option value="1244">1.2 litres
                      </option>
                      <option value="1444">1.4 litres
                      </option>
                      <option value="1644">1.6 litres
                      </option>
                      <option value="1844">1.8 litres
                      </option>
                      <option value="2044">2.0 litres
                      </option>
                      <option value="2244">2.2 litres
                      </option>
                      <option value="2444">2.4 litres
                      </option>
                      <option value="2644">2.6 litres
                      </option>
                      <option value="2844">2.8 litres
                      </option>
                      <option value="3044">3.0 litres
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="ch-form__group--sm">
              <label for="colour" class="ch-form__control-label">Colour
              </label>
              <div class="ac-multigroup ac-multigroup__colour ac-multigroup--collapsed">
                <input type="hidden" name="colour[]" value="">
                <div class="ac-multigroup__checkbox-wrapper">
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--White" class="ac-multigroup__colour--white">
                      <input type="checkbox" id="colour--White" name="colour[]" class="ch-checkbox__input" value="White">
                      <span class="ch-checkbox__switch">
                      </span>
                      White
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Black" class="ac-multigroup__colour--black">
                      <input type="checkbox" id="colour--Black" name="colour[]" class="ch-checkbox__input" value="Black">
                      <span class="ch-checkbox__switch">
                      </span>
                      Black
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Blue" class="ac-multigroup__colour--blue">
                      <input type="checkbox" id="colour--Blue" name="colour[]" class="ch-checkbox__input" value="Blue">
                      <span class="ch-checkbox__switch">
                      </span>
                      Blue
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Red" class="ac-multigroup__colour--red">
                      <input type="checkbox" id="colour--Red" name="colour[]" class="ch-checkbox__input" value="Red">
                      <span class="ch-checkbox__switch">
                      </span>
                      Red
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Grey" class="ac-multigroup__colour--grey">
                      <input type="checkbox" id="colour--Grey" name="colour[]" class="ch-checkbox__input" value="Grey">
                      <span class="ch-checkbox__switch">
                      </span>
                      Grey
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Silver" class="ac-multigroup__colour--silver">
                      <input type="checkbox" id="colour--Silver" name="colour[]" class="ch-checkbox__input" value="Silver">
                      <span class="ch-checkbox__switch">
                      </span>
                      Silver
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Green" class="ac-multigroup__colour--green">
                      <input type="checkbox" id="colour--Green" name="colour[]" class="ch-checkbox__input" value="Green">
                      <span class="ch-checkbox__switch">
                      </span>
                      Green
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Yellow" class="ac-multigroup__colour--yellow">
                      <input type="checkbox" id="colour--Yellow" name="colour[]" class="ch-checkbox__input" value="Yellow">
                      <span class="ch-checkbox__switch">
                      </span>
                      Yellow
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Orange" class="ac-multigroup__colour--orange">
                      <input type="checkbox" id="colour--Orange" name="colour[]" class="ch-checkbox__input" value="Orange">
                      <span class="ch-checkbox__switch">
                      </span>
                      Orange
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Beige" class="ac-multigroup__colour--beige">
                      <input type="checkbox" id="colour--Beige" name="colour[]" class="ch-checkbox__input" value="Beige">
                      <span class="ch-checkbox__switch">
                      </span>
                      Beige
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Purple" class="ac-multigroup__colour--purple">
                      <input type="checkbox" id="colour--Purple" name="colour[]" class="ch-checkbox__input" value="Purple">
                      <span class="ch-checkbox__switch">
                      </span>
                      Purple
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Brown" class="ac-multigroup__colour--brown">
                      <input type="checkbox" id="colour--Brown" name="colour[]" class="ch-checkbox__input" value="Brown">
                      <span class="ch-checkbox__switch">
                      </span>
                      Brown
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Pink" class="ac-multigroup__colour--pink">
                      <input type="checkbox" id="colour--Pink" name="colour[]" class="ch-checkbox__input" value="Pink">
                      <span class="ch-checkbox__switch">
                      </span>
                      Pink
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Maroon" class="ac-multigroup__colour--maroon">
                      <input type="checkbox" id="colour--Maroon" name="colour[]" class="ch-checkbox__input" value="Maroon">
                      <span class="ch-checkbox__switch">
                      </span>
                      Maroon
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Cream" class="ac-multigroup__colour--cream">
                      <input type="checkbox" id="colour--Cream" name="colour[]" class="ch-checkbox__input" value="Cream">
                      <span class="ch-checkbox__switch">
                      </span>
                      Cream
                      
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox">
                    <label for="colour--Gold" class="ac-multigroup__colour--gold">
                      <input type="checkbox" id="colour--Gold" name="colour[]" class="ch-checkbox__input" value="Gold">
                      <span class="ch-checkbox__switch">
                      </span>
                      Gold
                      
                    </label>
                  </div>
                </div>
                <button type="button" class="ch-btn ch-btn--block ch-btn--sm ch-btn--link js-off--hide ac-multigroup__show-more">Show more
                </button>
              </div>
            </div>
            <div class="ch-form__group--sm">
              <label for="keywords" class="ch-form__control-label">Keywords
              </label>
              <input type="text" id="keywords" class="ch-form__control" name="keywords" value="">
            </div>
          </fieldset>
          <fieldset>
            <legend class="ac-filters__heading">Running costs
            </legend>
            <div class="ch-form__group--sm">
              <label for="roadtax-cost" class="ch-form__control-label">Road tax (maximum)
              </label>
              <div>
                <select id="roadtax-cost" name="roadtax_cost" class="ch-form__control">
                  <option selected="" value="">Any
                  </option>
                  <option value="0">Free
                  </option>
                  <option value="20">£20
                  </option>
                  <option value="30">£30
                  </option>
                  <option value="110">£110
                  </option>
                  <option value="135">£135
                  </option>
                  <option value="145">£145
                  </option>
                  <option value="180">£180
                  </option>
                  <option value="290">£290
                  </option>
                  <option value="over290">Over £290
                  </option>
                </select>
              </div>
            </div>
            <div class="ch-form__group--sm">
              <label for="mpg" class="ch-form__control-label">Fuel consumption / MPG
              </label>
              <div>
                <select id="mpg" name="mpg" class="ch-form__control">
                  <option selected="" value="">Any
                  </option>
                  <option value="40">40 MPG +
                  </option>
                  <option value="50">50 MPG +
                  </option>
                  <option value="60">60 MPG +
                  </option>
                  <option value="70">70 MPG +
                  </option>
                </select>
              </div>
            </div>
          </fieldset>
          <button id="secondary-search-button" type="submit" class="ch-btn ch-btn--cta ch-btn--sm ch-btn--block ac-searchbutton--static">Search Cars
          </button>
        </div>
      </div>
    </div>
  </div>

<% end %>
