<!-- Stylesheets --!>
<link rel="stylesheet" media="screen" href="http://www.arnoldclark.com/assets/vehicles/index-8f935f470f5425626fa70f79a9786b021cc1cfcccefe62252344ba55a9ed1cf5.css">
<!-- End Stylesheets --!>


<!-- Ruby Model --!>
<% @ac_vehicle_search = Components::AcVehicleSearch.new(params: params) %>
<!-- End Ruby Model --!>


<!-- Template --!>
<%= form_tag "/vehicles", method: :get, id: "search", name: "search", data: { component: "ac_vehicle_search" }.merge(@ac_vehicle_search.current_options) do %>
  <%= render 'components/ac_vehicle_search_banner'  %>
  <div class="ch-container">

    <div class="ch-row">
      <%= render 'components/ac_vehicle_search_results' %>
      <%= render 'components/ac_vehicle_search_filter' %>
    </div>

    <%= render 'components/ac_search_results_pagination' %>

  </div>
<% end %>

<script>

var AcVehicleSearch = {
  name: "ac_vehicle_search",

  filterDidChange: function(filter) {
    Nostalgia.updateStateFor(this.name, { key: filter.name, value: filter.value });
    Nostalgia.reload(this.name);
  }
}

</script>
