<!-- Stylesheets --!>
<link rel="stylesheet" media="screen" href="http://www.arnoldclark.com/assets/vehicles/index-8f935f470f5425626fa70f79a9786b021cc1cfcccefe62252344ba55a9ed1cf5.css">
<!-- End Stylesheets --!>


<!-- Ruby Model --!>
<% @ac_vehicle_search = Components::AcVehicleSearch.new(params: params) %>
<!-- End Ruby Model --!>


<!-- Template --!>
<%= form_tag "/vehicles", method: :get, id: "search", name: "search", data: { component: "ac_vehicle_search" }.merge(@ac_vehicle_search.current_options) do %>
  <%= render 'components/ac_vehicle_search_banner'  %>
  <div class="ch-container">

    <div class="ch-row">
      <%= render 'components/ac_vehicle_search_results' %>
      <%= render 'components/ac_vehicle_search_filter' %>
    </div>

    <%= render 'components/ac_search_results_pagination' %>

  </div>
<% end %>
<!-- End Template --!>

<!-- Javascripts --!>
<script>

function queryComponent(name) {
  return document.querySelector('[data-component="' + name + '"]');
}

function thisComponent() {
  return queryComponent("ac_vehicle_search");
}

function state() {
  return thisComponent().dataset;
}

function executeReplacements(replacements) {
  replacements.map(function(replacement) {
    var component_to_replace = replacement.replace;
    var newContent = replacement.with_content;
    queryComponent(component_to_replace).outerHTML = newContent;
  });
}

function updateStateFromElement(element) {
  return thisComponent().setAttribute("data-" + element.name, element.value);
}

function asQueryParams(keyValueObject) {
  var queryParams = []
  for(var key in keyValueObject) {
    queryParams.push(key + "=" + keyValueObject[key]);
  }
  return queryParams.join("&");
}

function loadInReplacementsFrom(url) {
  var oReq = new XMLHttpRequest();
  oReq.onload = function (e) {
    executeReplacements(e.target.response);
  };
  oReq.open('GET', url, true);
  oReq.responseType='json';
  oReq.send();
}

function indicateComponentLoading() {
  loadInReplacementsFrom("/api/components/ac_vehicle_search_loading");
}

function refreshComponent() {
  loadInReplacementsFrom("/api/components/ac_vehicle_search?" + asQueryParams(state()));
}

function filtersChanged(element) {
  indicateComponentLoading();
  updateStateFromElement(element);
  refreshComponent();
}

</script>
<!-- End Javascripts --!>
