<div class="ch-col--md-10 ch-col--md-push-1 ch-col--lg-9 ch-col--lg-push-3" data-component="ac_vehicle_search_results">
  <div class="ac-results ac-results--experiment" data-dynamic="true">
    <%= render 'components/ac_spinner' %>
    <% @ac_vehicle_search.vehicles.each do |vehicle| %>

      <div class="ch-clearfix ac-result ac-result--experiment" data-component="ac_vehicle">
        <div class="ac-result__image-wrapper">
          <div class="ac-result__image">
            <a href="<%= "http://www.arnoldclark.com#{vehicle.url}" %>">
              <img class="ch-img--responsive ac-result__image-element" src="<%= vehicle.photo["path"] %>" title="Vehicle details for 2008 (08) Skoda Fabia" alt="Vehicle details for 2008 (08) Skoda Fabia">
            </a>
          </div>
        </div>
        <div class="ac-result__content-wrapper">
          <h2 class="ac-vehicle__title">
            <a href="<%= "http://www.arnoldclark.com#{vehicle.url}" %>">
              <%= vehicle.title["name"] %>
              <small class="ac-vehicle__title-variant"><%= vehicle.title["variant"] %>
            </small>
            </a>
          </h2>
          <div class="ch-row ac-row--compact">
            <div class="ch-clearfix ac-result__info">
              <div class="ch-col--xs-12 ch-col--sm-7 ac-col--compact">
                <ul class="ch-clearfix ac-result__summary--experiment">
                  <li class="mileage">60,880 miles
                  </li>
                  <li class="body-type">Hatchback
                  </li>
                  <li class="roadtax">Road Tax £110
                  </li>
                  <li class="mpg">57.6 MPG
                  </li>
                  <li class="fuel-type">Diesel
                  </li>
                  <li class="colour">Green
                  </li>
                </ul>
              </div>
              <div class="ch-col--xs-12 ch-col--sm-5 ac-col--compact">
                <div class="ac-pricing">
                  <span class="ac-pricing__cash">
                    <span class="ac-pricing__prefix">
                      Only
                    </span>
                    <span class="ac-money">
                      <span class="ac-currency">£
                      </span>
                       <%= vehicle.salesInfo["pricing"]["cashPrice"] %>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="ac-result__shortlist-wrapper">
            <button class="ch-btn js-off--hide ac-shortlist__button gtm-track ch-btn--sm ch-btn--block" type="button" data-component="ac_shortlist_button" data-cid="<%= rand(1..50000) %>" data-category="Shortlist" data-action="Click" data-label="Add to shortlist">
              <span class="ac-shortlist__button-text">Shortlist
              </span>
            </button>
          </div>
          <div class="ac-result__branch-wrapper">
            <a class="ac-branchname" href="/find-a-dealer/aberdeen-craigshaw-road-complex/ref/arndw">
              Aberdeen Craigshaw Road Complex
            </a>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
