<% @ac_vehicle_search = Components::AcVehicleSearch.new(params: params) %>

<%= form_tag "/vehicles", method: :get, id: "search", name: "search", data: @ac_vehicle_search.data_attributes do %>
  <%= render 'components/ac_vehicle_search_banner'  %>
  <div class="ch-container">

    <div class="ch-row">
      <%= render 'components/ac_vehicle_search_results' %>
      <%= render 'components/ac_vehicle_search_filter' %>
    </div>

    <%= render 'components/ac_search_results_pagination' %>

  </div>
<% end %>

